.vscode
/build 

server/build
server/CMakeFiles
server/CMakeCache.txt
server/cmake_install.cmake
server/Makefile
server/tmp_files
server/processed_files
server/logs

client/node_modules
client/build
client/.env
