<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Procesamiento de imágenes</title>
  <base href="./">

  <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles.css">
</head>

<body class="container-sm my-5 mx-auto">
  <h1 class="text-center mb-5">Ecualización de histograma</h1>

  <div class="d-flex flex-column justify-content-between gap-3">
    <button id="upload-button" type="button" class="btn btn-primary">Buscar imágenes...</button>
    <input id="file-input" type="file" class="form-control d-none" accept="image/*" multiple>

    <div class="d-flex flex-column align-self-center justify-content-between gap-4 w-100">
      <div class="d-flex justify-content-around gap-3 w-100">
        <button id="process-button" type="button" class="btn btn-success ml-3 w-100" disabled>Procesar imágenes</button>
        <button id="cancel-button" type="button" class="btn btn-danger ml-3 w-100" disabled>Cancelar</button>
      </div>

      <div id="progress-container" style="height: 30px;" class="progress " role="progressbar" aria-label="Basic example"
        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div id="progress-bar" class="progress-bar progress-bar-striped bg-warning" style="width: 0%;"></div>
      </div>

      <p class="text-center fs-3 m-0">Imágenes seleccionadas</p>

      <div id="selected-images-container" style="grid-template-columns: repeat(2, minmax(0, 1fr)); place-items: center;"
        class="d-grid gap-3 w-100">

      </div>
    </div>

  </div>

  <script src="./assets/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script type="module" src="./main.js"></script>
  <script type="module" src="./Services/request.js"></script>
</body>

</html>